.project-container {
  display: block;
  margin-bottom: 10vh;
}

.project-media {
  display: flex;
  margin: auto;
  width: 100%;
}

.project-details {
  margin: 40px 0;
  color: var(--black);

  p {
    margin-bottom: 0.2rem;
    font-weight: 700;
    font-size: 16px;
  }

  .title {
    font-weight: 900;
  }
  .description {
    font-weight: 500;
  }
  .properties {
    color: var(--gray);
  }
}

.project-dropdown {
  font-size: 16px;
  .dropdown {
    display: flex;
    // display: none;
    justify-content: space-between;
    font-weight: 700;
    line-height: 20px;
    padding-bottom: 20px;
    // border-bottom: 1px solid #d3d3d3;
    padding-right: 10px;
  }
}

.body {
  margin-top: 30px;
  font-weight: 450;
  line-height: 137%;
  padding: 0px !important;
}

.accordion-button {
  background-color: white !important;
  padding: 0px !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  color: #212529;
  padding: 0;
}

.accordion-body {
  padding: 30px 0px 0px 0px !important;
}

// MEDIA QUERIES

@media (min-width: 1280px) {
  .project-details {
    p {
      font-size: 24px;
    }
    .body {
      font-size: 16px;
    }
  }
}
