.project-container {
  display: block;
  margin-bottom: 10vh;
}

.project-media {
  display: flex;
  margin: auto;
  width: 100%;
}

.project-details {
  margin: 40px 0;
  color: var(--black);

  p {
    margin-bottom: 0.2rem;
    font-weight: 700;
    font-size: 16px;
  }

  .title {
    font-weight: 900;
  }
  .subtitle {
    font-weight: 500;
  }
  .properties {
    color: var(--gray);
  }
}

.project-dropdown {
  font-size: 16px;
  .dropdown {
    // display: flex;
    display: none;
    justify-content: space-between;
    font-weight: 700;
    line-height: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d3d3d3;
    padding-right: 10px;
  }

  .body {
    margin-top: 30px;
    font-weight: 450;
    line-height: 137%;
  }
}

// MEDIA QUERIES

@media (min-width: 1280px) {
  .project-details {
    p {
      font-size: 24px;
    }
    .body {
      font-size: 16px;
    }
  }
}
