.video-header {
  // width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
  left: -50vw;
  cursor: url("https://cdn-icons-png.flaticon.com/512/16/16363.png?w=740&t=st=1673262195~exp=1673262795~hmac=e6666ee86f2db9b4e532f29698f1f1cf6f7be07c9d2a8cb70b4a7dfd9510b27a");
  filter: grayscale(100%);
  transition: all 1s;
  min-width: 100%;
  min-height: 100%;
}

.video-header-color {
  // width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
  left: -50vw;
  cursor: url("https://cdn-icons-png.flaticon.com/512/16/16363.png?w=740&t=st=1673262195~exp=1673262795~hmac=e6666ee86f2db9b4e532f29698f1f1cf6f7be07c9d2a8cb70b4a7dfd9510b27a");
  filter: none;
  transition: all 1s;
  min-width: 100%;
  min-height: 100%;
}

.player-video-desktop-switcher {
  display: none;
}

.player-video-mobile-switcher {
  display: inline-flex !important;
  position: absolute;
  bottom: 40px;
  left: 5%;
  width: 50%;
  cursor: pointer;
}

.player-video {
  position: absolute;
  // display: none;
  align-items: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  cursor: none;

  .play-icon-in,
  .play-icon-out {
    position: absolute;
    top: 2px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid var(--white);
    margin-right: 13px;
    transition: all 1s;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.2));
  }

  .play-icon-in {
    transform: rotate(-60deg);
    opacity: 0;
  }

  .play-icon-out {
    transform: rotate(0deg);
    opacity: 1;
  }

  .stop-icon-in {
    position: absolute;
    top: 4px;
    width: 12px;
    height: 12px;
    background-color: var(--white);
    margin-right: 13px;
    transform: rotate(0deg);
    transition: all 1s;
    opacity: 1;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.2));
  }

  .stop-icon-out {
    position: absolute;
    top: 4px;
    width: 6px;
    height: 6px;
    transform: rotate(-60deg);
    transition: all 1s;
    opacity: 0;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.2));
  }

  .player-text {
    color: var(--white);
    font-size: 19px;
    font-weight: 450;
    margin-left: 20px;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 1;
  }
}

// MEDIA QUERIES

@media (min-width: 768px) {
  .video-header {
    left: 0;
  }
  .video-header-color {
    left: 0;
  }
}

@media (min-width: 1024px) {
  .player-video-desktop-switcher {
    display: flex;
  }

  .player-video-mobile-switcher {
    display: none !important;
  }

  .player-video,
  .play-icon-out,
  .stop-icon-in,
  .player-text {
    opacity: 1 !important;
  }
}

@media (min-width: 1280px) {
  .video-header {
    width: 100vw;
    height: auto;
  }

  .video-header-color {
    width: 100vw;
    height: auto;
  }
}

@media (min-width: 1440px) {
}
