.video-header {
  // width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
  left: -50vw;
}

.player-video {
  position: absolute;
  top: 40vh;
  left: 55vw;
  display: flex;
  align-items: center;
  cursor: pointer;

  .play-icon-in {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid var(--white);
    margin-right: 13px;
    transform: rotate(-60deg);
    transition: all 1s;
    opacity: 0;
  }

  .play-icon-out {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid var(--white);
    margin-right: 13px;
    transform: rotate(0deg);
    transition: all 1s;
    opacity: 1;
  }

  .stop-icon-in {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--white);
    margin-right: 13px;
    transform: rotate(0deg);
    transition: all 1s;
    opacity: 1;
  }

  .stop-icon-out {
    position: absolute;
    width: 6px;
    height: 6px;
    transform: rotate(-60deg);
    transition: all 1s;
    opacity: 0;
  }

  span {
    color: var(--white);
    font-size: 19px;
    font-weight: 450;
  }
}

// MEDIA QUERIES

@media (min-width: 768px) {
  .video-header {
    left: 0;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
  .video-header {
    width: 100vw;
    height: auto;
  }
}

@media (min-width: 1440px) {
}
