.accordion {
  background-color: transparent;
  color: var(--black);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  border: none;
  transition: 0.4s;
  border-bottom: var(--hrColor) 1px solid;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-weight: 300;
  font-size: 16px;
  line-height: 137%;
}

.accordion-arrow {
  // transform: rotate(90deg);
  rotate: 0deg;
  transition: all 0.35s;
  min-width: 1em;
  margin-bottom: 1rem;
}

.fadeIn {
  position: absolute;
  top: -12px;
  right: 0px;
  opacity: 0;
  // transition: opacity 0.35s ease-in-out;
  min-height: 20px;
  min-width: 20px;
}

.fadeOut {
  position: absolute;
  top: -12px;
  right: 0px;
  opacity: 1;
  // transition: opacity 0.35s ease-in-out;
  min-height: 20px;
  min-width: 20px;
}

// MEDIA QUERIES
@media (min-width: 768px) {
  .project-accordion {
    display: none;
  }
}
