// MOBILE FIRST

.container {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.section1 {
  margin-bottom: 70px;

  .section1-title {
    margin-top: 20%;
    h2 {
      font-weight: 500;
      width: 87%;
      font-size: 32px;
    }
  }

  .section1-sections {
    margin-top: 20%;
    h2 + p {
      color: var(--gray);
      margin-bottom: 20px;
      margin-top: -5px;
    }

    hr {
      margin-top: 40px;
      margin-bottom: 50px;
      border: 1px solid var(--hrColor);
    }
  }
}

// MEDIA QUERIES
@media (min-width: 768px) {
  .section1 {
    .section1-title {
      margin-top: 10%;
      h2 {
        width: 90%;
        font-size: 24px;
      }
    }

    .section1-sections {
      margin-top: 10%;
      hr {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }
}
