.footer {
  display: grid;
  grid-template-columns: 34% auto;
  background-color: black;
  grid-gap: 10px;
  padding: 20px 30px;
}

.footer-item {
  font-weight: 450;
  font-size: 16px;
  line-height: 20px;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  margin-right: 30px;

  .item {
    color: var(--white);
    text-decoration: none;
  }
}
