@import "../../../styles.scss";

.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

// MOBILE FIRST

.chazz-logo {
  width: 118px;
  padding-left: 5%;
  display: block;
  float: left;
  position: relative;
  top: 40px;
  z-index: 99;

  svg{
    width: 118px;
    height: auto;
  }
}

.nav {
  display: none !important;

  a:hover {
    color: var(--black);
  }
}

.pagesDesktopNavItem {
  color: var(--black) !important;
  &:hover {
    color: var(--pinkHover) !important;
  }
}

.active {
  color: var(--pinkHover);
}

// MEDIA QUERIES

@media (min-width: 768px) {
  .chazz-logo {
    width: 162px;
    top: 30px;

    svg{
      width: 162px;
    }
  }

  .nav {
    margin-top: 36px;
    display: flex !important;
    float: right;
    padding-left: 0;
  }
  .nav ul {
    display: flex;
  }

  .nav ul li {
    list-style-type: none;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }

  .nav ul li a {
    text-decoration: none;
    color: var(--white);
    font-weight: 300;

    &:hover {
      text-decoration: none;
      color: var(--black);
    }
  }
}

@media (min-width: 1024px) {
  .nav {
    font-size: 19px;
  }
}

@media (min-width: 1280px) {
  .chazz-logo {
    width: 153px;

    svg{
      width: 153px;
    }
  }
  .nav ul li {
    margin-right: 36px;
  }
}

@media (min-width: 1920px){
  .chazz-logo{
    width: 200px;
    svg{
      width: 200px;
    }
  }

  .nav {
    margin-top: 40px;
  }
}
