@import "../../../styles.scss";

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5%;
  height: 10vh;

  .chazz-logo {
    padding-left: 5%;
    z-index: 99;
  }
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.nav {
  display: none !important;

  a:hover {
    color: var(--black);
  }
}

.pagesDesktopNavItem {
  color: var(--black) !important;
  &:hover {
    color: var(--pinkHover) !important;
  }
}

.active-pink {
  color: var(--pinkStrong);
}

.active-black {
  color: var(--black);
}

// MEDIA QUERIES

@media (min-width: 768px) {
  .nav {
    margin-top: 36px;
    display: flex !important;
    float: right;
    padding-left: 0;

    ul {
      display: flex;

      li {
        list-style-type: none;
        margin-right: 30px;
        &:last-child {
          margin-right: 0;
        }

        a {
          text-decoration: none;
          color: var(--white);
          font-weight: 300;

          &:hover {
            text-decoration: none;
            color: var(--black);
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .nav {
    font-size: 19px;
  }
}

@media (min-width: 1200px) {
  .nav ul li {
    margin-right: 36px;
  }
}

@media (min-width: 1920px) {
  .nav {
    margin-top: 40px;
    margin-right: 1%;
  }
}
