// MOBILE FIRST
#Partners {
  margin: 0 5%;
}

.partner-section {
  background-color: var(--white);
  padding: 64px 0px 50px 0px;

  .titles {
    margin-bottom: 32px;
    font-size: 24px;
  }
}
.partner-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.partner {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: var(--black);
  padding: 1rem;
  // height: 100px;
  // max-width: 200px;
  // max-height: 68px;
  margin: 1rem;

  a {
    color: var(--gray);
    text-decoration: none;
    &:hover {
      color: var(--black);
      text-decoration: none;
    }
  }

  .partner-logo {
    // max-height: 100%;
    // max-width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
  }
}

// MEDIA QUERIES
@media (min-width: 768px) {
  .partner-section {
    padding: 98px 0px 82px 0px;

    .titles {
      margin-bottom: 45px;
    }
  }
  .partner-container {
    grid-template-columns: repeat(5, 1fr);
  }
  .partner {
    font-size: 30px;
    line-height: 38px;
  }
}

@media (min-width: 1280px) {
  .partner-section {
    h3 {
      font-size: 32px;
    }
  }
}

@media (min-width: 1920px) {
  .partner-section h3 {
    font-size: 35px;
  }
}
