.services-container {
  width: 100%;
  padding: 5%;
}

.services-header {
  border-top: 1px solid var(--black);

  .title {
    font-weight: 500;
    font-size: 72px;
    line-height: 77px;
    margin: 20px 0;
  }
  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}

// MEDIA QUERIES
@media (min-width: 768px) {
  .services-header {
    img {
      height: auto;
      object-fit: none;
    }
  }
}
