// MOBILE FIRST
#Categories {
  width: 90%;
  margin: auto;
}

.container {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.section1-title,
.section1-sections {
  flex: 0 0 auto;
  width: 50%;
}

.section1 {
  margin-bottom: 70px;

  .section1-title {
    margin-top: 60px;
    h2 {
      font-weight: 500;
      width: 341px;
      font-size: 32px;
    }
  }

  .section1-sections {
    margin-top: 20%;
    h2 + p {
      color: var(--gray);
      margin-bottom: 20px;
      margin-top: -5px;
      font-weight: 450;
    }

    hr {
      margin-top: 40px;
      margin-bottom: 50px;
      border: 1px solid var(--hrColor);
    }
  }
}

// MEDIA QUERIES
// xxs
@media (width: 320px) {
  .section1 {
    .section1-title {
      h2 {
        width: 300px;
      }
    }
  }
}

@media (min-width: 480px) {
  .section1 {
    .section1-title {
      margin-top: 10%;
      h2 {
        width: 90%;
        font-size: 40px;
      }
    }
    .section1-sections {
      margin-top: 10%;
    }
  }
}
@media (min-width: 769px) {
  .section1 {
    .section1-title {
      margin-top: 10%;
      h2 {
        width: 65%;
        font-size: 40px;
      }
    }

    .section1-sections {
      margin-top: 10%;
      hr {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .section1 {
    .section1-title {
      h2.strong {
        width: 90%;
      }
      h2 {
        width: 82%;
      }
    }
  }
}

@media (min-width: 1280px) {
  .section1 {
    .section1-title {
      h2.strong {
        width: 90%;
      }
      h2 {
        width: 81%;
      }
      .h2 {
        font-size: 40px !important;
      }
    }
  }
}
