.separator {
  border-bottom: transparent 1px solid;
  // padding-bottom: 20px;
  padding-bottom: 6px;
}

.accordion-open,
.accordion-close {
  background-color: transparent;
  color: var(--black);
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: 0.4s;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  padding: 20px 0;
}

.panel-work,
.panel-services {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-weight: 300;
  font-size: 16px;
  line-height: 137%;
  transition: padding-top 0.35s;

  .linebreaker {
    padding-top: 20px;
    margin-bottom: 0;
  }
}

.panel-work {
  border-top: 1px solid lightgray;
}

.panel-work p {
  padding-top: 20px;
}

.panel-services {
  border-top: 1px solid lightgray;
  padding-top: 0px;
}

.accordion-arrow {
  rotate: 0deg;
  transition: all 0.35s;
  margin-bottom: 1rem;
}

.icon-fadeIn {
  position: absolute;
  top: -4px;
  right: 0px;
  opacity: 0;
  transition: opacity 0.35s ease-in-out;
  min-height: 20px;
  min-width: 20px;
}

.icon-fadeOut {
  position: absolute;
  top: -4px;
  right: 0px;
  opacity: 1;
  transition: opacity 0.35s ease-in-out;
  min-height: 20px;
  min-width: 20px;
}

.no-fading-text {
  position: relative;
  opacity: 1;
  z-index: -1;
  overflow: hidden;
  width: 84%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-fadeIn {
  position: absolute;
  opacity: 0;
  transition: opacity 0.35s ease-in-out;
  z-index: -1;
}

.text-fadeOut {
  position: absolute;
  opacity: 1;
  transition: opacity 0.35s ease-in-out;
  z-index: -1;
}

// MEDIA QUERIES
@media (min-width: 768px) {
  .mobile-accordion {
    display: none;
  }
  .another-accordion {
    margin-bottom: 0px !important;
  }
  .separator {
    border-bottom: var(--hrColor) 1px solid;
    padding-bottom: 22px;
  }
  .accordion-open,
  .accordion-close {
    padding: 35px 0 10px 0;
    font-size: 24px;
    line-height: 35px;
  }

  .panel-services {
    width: 85%;
    border-top: 1px solid transparent;
    padding-top: 0px !important;
  }
}

@media (min-width: 1920px) {
  .panel-services {
    width: 87%;
  }
}
