.burger-menu {
  width: 100%;
  top: 0;
  position: fixed;
  padding: 40px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  transition: all 0.5s ease;
  z-index: 10;
  &.active {
    background-color: var(--black);
  }
}

// MEDIA QUERIES

@media (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}
