.chazz-cookies {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
  background-color: var(--white);
  height: auto;
  z-index: 10;
  width: 90%;
  bottom: 3%;
  left: 5%;
  padding: 20px;
  position: fixed;
  box-shadow: 1px 3px 5px 3px rgba(0, 0, 0, 0.15);

  p {
    margin: 0 10px;
    font-size: 16px;
    a {
      color: var(--black);
      &:hover {
        color: var(--pink);
      }
    }
  }

  button {
    margin: 0;
    padding: 5px 20px;
    color: var(--pink);
    font-weight: 700;
    font-size: 19px;
    background-color: var(--black);

    &:hover {
      color: var(--black);
      background-color: var(--pink);
      border: 2px solid var(--pink);
    }
  }
}

// MEDIA QUERIES

@media (min-width: 768px) {
  .chazz-cookies {
    flex-direction: row;
    align-items: baseline;
    height: 92px;
    padding: 11px 24px;
    justify-content: space-between;
    p {
      margin: 0;
    }
  }
}

@media (min-width: 1024px) {
  .chazz-cookies {
    left: 2%;
    width: 96%;
  }
}

@media (min-width: 1200px) {
  .chazz-cookies {
    padding: 24px 24px;
    width: 96%;
    button {
      width: 11rem;
    }
  }
}
