.category-container {
  margin: 55px 0;
  margin-bottom: 50px;
}

.category-header {
  border-bottom: 1px solid var(--black);
  padding-bottom: 15px;
  margin-bottom: 30px;

  .title {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    margin-top: 60px;
    span {
      display: none;
      font-size: 30px;
      margin-bottom: 10px;
    }
  }

  .section {
    font-weight: 450;
    font-size: 16px;
    line-height: 20px;
    color: var(--gray);
  }
}

.category-content {
  display: block;

  .summary {
    margin: 0;
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
  }
}

.category-options {
  display: flex;
  flex-direction: column;
  margin-top: 45px;

  .accordion {
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--hrColor);
    padding: 25px 0;
    margin: 0;

    span {
      font-size: 25px;
      font-weight: 100;
    }
  }

  .panel {
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
  }
}

// MEDIA QUERIES
@media (min-width: 1280px) {
  .category-header {
    padding-bottom: 20px;
    margin-bottom: 45px;

    .title {
      font-size: 56px;
      line-height: 71px;

      span {
        display: inline;
        position: relative;
        top: -5px;
      }
    }

    .section {
      font-size: 24px;
      line-height: 30px;
      margin-top: -14px;
    }
  }

  .category-options {
    margin-top: -30px;

    .accordion {
      font-weight: 500;
      font-size: 24px;
      line-height: 35px;
      padding: 30px 0;
      margin: auto;

      span {
        font-size: 30px;
      }
    }
  }
}

@media (min-width: 1280px) {
  .category-container {
    margin: 70px 0;
  }

  .category-header {
    .title {
      margin-top: 71px;
    }
  }
  .category-content {
    display: grid;
    grid-template-columns: 30% auto;
    grid-gap: 10%;
    align-items: start;

    .summary {
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      width: 90%;
    }
  }
}

@media (min-width: 1440px) {
  .category-content {
    .summary {
      width: 85%;
    }
  }
}
