.dropdown {
  background-color: var(--lighterGray);
  padding: 0 10px;
}

.dropdown-header {
  text-align: left;
  background-color: var(--lighterGray);
  padding: 16px 5px;
  border: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  border-bottom: 2px solid var(--borderGray);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-content {
  display: none;
  min-width: 160px;
  width: 100%;
  z-index: 1;

  div,
  a {
    color: var(--black);
    padding: 16px 5px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;

    span {
      display: none;
      color: var(--pinkStrong);
      &.selected {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
      }
    }
  }
}
