.background {
  background-color: var(--lightGray);
}

#Projects {
  margin: 0 5%;
}

.more-projects,
.more-projects:hover {
  text-decoration: none;
  display: block;
  padding: 40px 0 75px 0;
  font-size: 16px;
  font-weight: 400;
}

.more-projects {
  color: var(--black);
}

.more-projects:hover {
  color: var(--pinkHover);
}

.icon-size {
  width: 26px;
}

// MEDIA QUERIES
@media (min-width: 768px) {
  .icon-size {
    width: 30px;
  }
}

@media (min-width: 1280px) {
  .more-projects,
  .more-projects:hover {
    font-size: 24px;
    padding: 80px 0;
  }

  .more-projects {
    color: var(--black);
  }

  .more-projects:hover {
    color: var(--pinkHover);
  }
}

@media (min-width: 1920px) {
}
