.background {
  background-color: var(--lightGray);
}

#Projects {
  width: 90%;
  margin: auto;
}

.more-projects {
  color: var(--black);
  text-decoration: none;
  display: block;
  margin: 80px 0;

  &:hover {
    color: var(--pinkHover);
  }
}
