.background {
  background-color: var(--lightGray);
}

#Projects {
  margin: 0 5%;

  .more-projects,
  .more-projects:hover {
    text-decoration: none;
    display: block;
    padding: 40px 0 75px 0;
    font-size: 16px;
    font-weight: 400;
    .img {
      width: 26px;
    }
  }

  .more-projects {
    color: var(--black);
  }

  .more-projects:hover {
    color: var(--pinkHover);
  }

  .icon-size {
    width: 26px;
  }
}

// MEDIA QUERIES
@media (min-width: 768px) {
  .icon-size {
    width: 30px;
  }
}

@media (min-width: 1280px) {
  #Projects {
    .more-projects,
    .more-projects:hover {
      padding: 80px 0;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
    }

    .more-projects {
      color: var(--black);
    }

    .more-projects:hover {
      color: var(--pinkHover);
    }
  }
}
