.chazz-cookies {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  height: auto;
  z-index: 10;
  position: absolute;
  width: 90%;
  bottom: 5%;
  left: 5%;
  padding: 16px;
  position: fixed;

  p {
    margin: 0;
    font-size: 16px;
  }

  button {
    padding: 3% 29% 3% 29%;
    margin-top: 13px;
    color: #ffafc4;
    font-weight: 700;
    font-size: 19px;
    background-color: var(--black);

    &:hover {
      cursor: pointer;
    }
  }
}

// MEDIA QUERIES

// xxs
// @media (width: 320px) {
//   .chazz-cookies {
//     left: 4%;

//     button {
//       padding: 1% 25% 1% 25%;
//       margin-top: 22px;
//     }
//   }
// }

// @media (min-width: 425px) {
//   .chazz-cookies {

//     button {
//       padding: 3% 31% 3% 31%;
//       margin-top: 23px;
//     }
//   }
// }

//////////////////////

@media (min-width: 1280px) {
  .chazz-cookies {
    flex-direction: row;
    align-items: center;
    height: 64px;
    padding: 5px;

    p {
      width: 84%;
      padding: 15px;
    }

    button {
      padding: 5px 20px 5px 20px;
      margin-top: 0;
      justify-content: end;
    }
  }
}

// @media (min-width: 1280px) {
//   .chazz-cookies {
//     width: 97%;
//     p {
//       width: 86%;
//     }
//     button {
//       padding: 5px 20px 5px 20px;
//     }
//   }
// }

@media (min-width: 1920px) {
  .chazz-cookies {
    width: 98%;
    bottom: 2%;
    p {
      width: 90%;
    }
    button {
      padding: 0.5% 1% 0.5% 1%;

    }
  }
}
