.chazz-cookies {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
  background-color: var(--white);
  height: auto;
  z-index: 10;
  position: absolute;
  width: 90%;
  bottom: 5%;
  left: 5%;
  padding: 20px;
  position: fixed;

  p {
    margin: 0 10px;
    font-size: 16px;

    a {
      color: var(--black);
    }
  }

  button {
    margin: 0;
    padding: 5px 10px;
    color: var(--pink);
    font-weight: 700;
    font-size: 19px;
    background-color: var(--black);
    cursor: pointer;
  }
}

// MEDIA QUERIES

@media (min-width: 768px) {
  .chazz-cookies {
    flex-direction: row;
    align-items: center;
    height: 82px;
    padding: 10px;
  }
}

@media (min-width: 1280px) {
  .chazz-cookies {
    height: 64px;
  }
}
