@media (min-width: 768px) {
  .policy-container {
    display: grid;
    grid-template-columns: 40% auto;
    grid-gap: 20px;

    .sidebar {
      background-color: var(--lighterGray);
      min-height: 634px;
      padding: 40px 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      a {
        text-decoration: none;
      }
    }

    .content {
      .article {
        display: block;
      }
    }
  }
}
