.work-container {
  max-width: 100%;
  overflow-x: hidden;
}

.header-nav {
  display: block;
  height: 10vh;
}

.work-header {
  margin: 5%;
  margin-bottom: 0;
  border-top: 1px solid var(--black);
  padding: 20px 0;
  font-size: 40px;
  line-height: 107%;
  color: var(--black);
}

.work-container--content {
  margin: 5%;
  margin-top: 0;
  display: grid;

  .work-detail {
    margin-bottom: 10vh;
    font-weight: 500;
    font-size: 24px;
    line-height: 131.3%;
  }
}

// MEDIA QUERIES

@media (min-width: 1280px) {
  .work-header {
    font-size: 72px;
  }
  .work-container--content {
    grid-template-columns: 45% auto;
    grid-gap: 2vw;

    .work-detail {
      width: 70%;
      font-size: 40px;
    }
  }
}
