backend:
  name: git-gateway
  repo: everis-dex/chazz
  branch: main # Branch to update (optional; defaults to master)

media_folder: "public/uploads" # where uploaded files are saved in the repo
public_folder: "/uploads" # where media files will be stored in the published site

# List of available collections, their fields and metadata information
collections:
  ##############################
  #         PAGES
  ##############################

  - name: home # Used in routes
    extension: json
    format: json
    label: "Home" # Used in the UI
    folder: content/home # Where the documents are stored, relative to the repo root
    create: true # Allow users to create new documents in this collection
    delete: false # Allow users to delete existing documents in this collection
    slug: "pages--home.{{extension}}" # Filename template. Default is {{slug}}, a url-safe version of the post's title.
    fields: # Fields for each document
      - label: Header
        name: header
        widget: object # For widgets, see https://www.netlifycms.org/docs/widgets/
        fields:
          - { label: Intro, name: intro, widget: string }
          - { label: Subintro, name: subintro, widget: string }
          - { label: Media, name: media, widget: image }
      - label: Categories
        name: categories
        widget: object
        fields:
          - { label: Title, name: title, widget: string }
          - { label: Subtitle, name: subtitle, widget: string, required: false }
      - label: Partners
        name: partners
        widget: object
        fields:
          - { label: Title, name: title, widget: string }
          - { label: Subtitle, name: subtitle, widget: string, required: false }
      - label: Footer
        name: footer
        widget: object
        fields:
          - { label: Title, name: title, widget: string }
          - { label: Subtitle, name: subtitle, widget: string, required: false }
          - { label: Offices, name: offices, widget: string }
          - { label: Studios, name: studios, widget: string }
          - { label: Get in touch, name: get in touch, widget: string }
          - label: Social
            name: social
            widget: list
            fields:
              - { label: Name, name: name, widget: string }
              - { label: Link, name: link, widget: string }

  - name: work
    label: "Work"
    folder: content/work
    slug: "pages--work"
    create: false
    delete: false
    fields:
      - { label: Title, name: title, widget: string }
      - { label: Subtitle, name: subtitle, widget: string, required: false }

  ##############################
  #         COMPONENTS
  ##############################
  - name: project
    label: Project
    folder: content/projects
    slug: "proj-{{year}}-{{month}}-{{day}}--{{title}}"
    fields:
      - { label: Publish Date, name: date, widget: datetime }
      - { label: Image, name: image, widget: image }
      - { label: Title, name: title, widget: string }
      - { label: Description, name: description, widget: string }
      - { label: Subtitle, name: subtitle, widget: string }
      - { label: Body, name: body, widget: markdown }
    sortable_fields: ["date"]

  - name: partner
    label: Partner
    folder: content/partners
    slug: "{{sort}}--{{partner}}"
    create: true
    fields:
      - { label: Name, name: name, widget: string }
      - { label: Logo, name: logo, widget: image }
      - { label: Website, name: website, widget: string }
      - { label: Order, name: sort, widget: number, value_type: int, min: 1, step: 1, max: 100 }

  - name: category
    label: Category
    folder: content/categories
    slug: "cat-{{year}}-{{month}}-{{day}}--{{title}}"
    create: true
    fields:
      - { label: Publish Date, name: date, widget: datetime }
      - { label: Title, name: title, widget: string }
      - { label: Section, name: section, widget: string }
      - { label: Body, name: body, widget: markdown }

  - name: office
    label: Office
    folder: content/offices
    slug: "of-{{year}}-{{month}}-{{day}}--{{city}}"
    create: true
    fields:
      - { label: Publish Date, name: date, widget: datetime }
      - { label: City, name: city, widget: string }
      - { label: Phone, name: phone, widget: string, required: false }
      - { label: Email, name: email, widget: string }
      - { label: Address, name: address, widget: string }

  - name: studio
    label: Studio
    folder: content/studios
    slug: "st-{{year}}-{{month}}-{{day}}--{{city}}"
    create: true
    fields:
      - { label: Publish Date, name: date, widget: datetime }
      - { label: City, name: city, widget: string }

  - name: get_in_touch
    label: "Get in touch"
    folder: content/get-in-touch
    slug: "{{year}}-{{month}}-{{day}}--{{title}}"
    create: true
    fields:
      - { label: Publish Date, name: date, widget: datetime }
      - { label: Title, name: title, widget: string }
      - { label: Emeal, name: email, widget: string }
