.page-container {
  max-width: 100%;
  margin: 0 5%;
}

.page-header {
  margin-top: 6%;
  border-top: 1px solid var(--black);

  h1 {
    margin: 25px 0 20px 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 43px;
  }
}

.work-container--content {
  width: auto;
  margin-top: 0;
  display: grid;

  .work-detail {
    margin-bottom: 7vh;
    font-weight: 500;
    line-height: 131.3%;

    h1 {
      font-size: 24px;
    }
  }
}

// MEDIA QUERIES
@media (min-width: 1200px) {
  .page-header {
    margin-bottom: 0;
    h1 {
      font-size: 72px;
      line-height: 77px;
    }
  }

  .work-container--content {
    grid-template-columns: 49% 49%;
    grid-gap: 0% 2%;

    .work-detail h1 {
      font-size: 40px;
    }
  }
}
