.body-content {
  table {
    margin: 40px 0;
    width: 100%;
    height: auto;

    th,
    td {
      padding: 25px 0 10px 0;
      border-bottom: 1px solid var(--hrColor);
      width: 25%;
      vertical-align: top;
    }

    th {
      border-top: 1px solid var(--black);
      border-bottom: 1px solid var(--black);
      margin-bottom: 60px;
    }
  }
}
