.body-content {
  padding-top: 20px;

  h4 {
    font-weight: 450;
    padding: 30px 0 15px 0;
    font-size: 22px;
    line-height: 34px;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  a {
    color: var(--black);
  }
  table {
    margin: 40px 0;
    width: 100%;
    height: auto;

    th,
    td {
      padding: 25px 0 10px 0;
      border-bottom: 1px solid var(--hrColor);
      width: 25%;
      vertical-align: top;
    }

    th {
      border-top: 1px solid var(--black);
      border-bottom: 1px solid var(--black);
      margin-bottom: 60px;
    }
  }
}

// MEDIA QUERIES
@media (min-width: 768px) {
  .body-content {
    padding-top: 0px;
  }
}
