.footer {
  display: grid;
  background-color: black;
  grid-gap: 20px;
  padding: 50px 5%;
}

.footer-item {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-decoration: none;

  .item {
    color: var(--white);
    text-decoration: none;
  }
}

// MEDIA QUERIES
@media (min-width: 768px) {
  .footer {
    grid-template-columns: 31% auto;
    padding: 20px 5%;
  }

  .footer-item {
    justify-content: space-between;
    flex-direction: row;
    margin-right: 30px;
  }
}
