.desktop-brokenlines {
  display: none;
}

.mobile-brokenlines {
  display: block;
}

@media (min-width: 1200px) {
  .desktop-brokenlines {
    display: block;
  }

  .mobile-brokenlines {
    display: none;
  }
}
