.desktop-brokenlines {
  display: none !important;
}

.mobile-brokenlines {
  display: block !important;
}

@media (min-width: 1280px) {
  .desktop-brokenlines {
    display: block !important;
  }

  .mobile-brokenlines {
    display: none !important;
  }
}
