.project-container {
  margin-bottom: 3vh;
  width: 90vw;
  &.full-width {
    grid-column: auto;
  }
}

.project-media {
  display: flex;
  margin: auto;
  width: 100%;

  img {
    width: 100%;
    height: 360px;
    max-height: 360px;
    object-fit: cover;
  }
}

.project-media video {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.half {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.project-details {
  margin: 30px 0;
  color: var(--black);
  font-size: 16px;

  .project-title-container {
    display: flex;
    flex-direction: column;

    span {
      font-weight: 300;
      font-size: 16px;
    }
    .title {
      text-decoration: none;
      color: var(--black);
      margin-top: 0;
      font-weight: 400;
    }
    .title:hover {
      color: var(--pink);
      cursor: pointer;
    }
    .description {
      font-weight: 400;
    }
    .properties {
      font-weight: 300;
      color: var(--gray);
    }
  }
}

.non-accordion {
  display: none;
  font-size: 16px;
  white-space: pre-wrap;
  font-weight: 300;
  border-bottom: 1px solid white;
}

.body {
  margin-top: 30px;
  font-weight: 450;
  line-height: 137%;
  padding: 0px !important;
}

@media (min-width: 425px) {
  .project-media {
    img {
      max-height: 400px;
      height: 400px;
    }
    video {
      height: 400px;
    }
  }
  .half {
    height: 400px;
  }
}

// MEDIA QUERIES
@media (min-width: 768px) {
  .project-container {
    margin-bottom: 10vh;
  }

  .project-details {
    .project-title-container {
      display: block;
    }
  }
  .project-media {
    img {
      height: 696px;
      max-height: 696px;
    }
    video {
      height: 696px;
    }
  }
  .half {
    height: 696px;
  }

  .non-accordion {
    display: block;
    margin-top: -5px;
  }
}
@media (min-width: 1200px) {
  .project-container {
    width: auto;

    &.full-width {
      grid-column: 1/3;

      .non-accordion {
        columns: 2;
        column-gap: 2%;
      }
    }
  }

  .project-media {
    img {
      height: 576px;
      max-height: 576px;
    }
    video {
      height: 576px;
    }
  }
  .half {
    height: 288px;
    img {
      height: 288px;
    }
    video {
      height: 288px;
    }
  }

  .project-details {
    margin: 34px 0 23px 0;
    font-size: 24px;
    span {
      font-size: 24px;
      padding-bottom: 2px;
    }
    .body {
      font-size: 16px;
    }

    .project-title-container {
      span {
        font-size: 24px;
      }
    }
  }
}

@media (min-width: 1440px) {
  .project-media {
    img {
      height: 662px;
      max-height: 662px;
    }
    video {
      height: 662px;
    }
  }
  .half {
    height: 331px;
    img {
      height: 331px;
    }
    video {
      height: 331px;
    }
  }
}

@media (min-width: 1920px) {
  .project-media {
    img {
      height: 904px;
      max-height: 904px;
    }
    video {
      height: 904px;
    }
  }
  .half {
    height: 452px;
    img {
      height: 452px;
    }
    video {
      height: 452px;
    }
  }
}
