// ACCORDION

.accordion {
  background-color: var(--white);
  color: var(--black);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  border: none;
  transition: 0.4s;
  border-bottom: var(--hrColor) 1px solid;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-weight: 450;
  font-size: 16px;
  line-height: 137%;
}

.accordion-arrow {
  transform: rotate(90deg);
  transition: all 0.35s;
  width: 1em;
  margin-bottom: 1rem;

  &::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
  }
}

// THE REST

.project-container {
  display: block;
  margin-bottom: 10vh;
  width: 90vw;
  &.full-width {
    grid-column: auto;
  }
}
.project-media {
  display: flex;
  margin: auto;
  width: 100%;
}

.project-details {
  margin: 40px 0;
  color: var(--black);
  font-size: 16px;

  .project-title-container {
    display: flex;
    flex-direction: column;

    span {
      margin-bottom: 0.2rem;
      font-weight: 400;
      font-size: 16px;
    }
  }

  .title {
    font-weight: 900;
    margin-top: 0;
  }
  .description {
    font-weight: 500;
  }
  .properties {
    color: var(--gray);
  }
}

.non-accordion {
  display: none;
  font-size: 16px;
  white-space: pre-wrap;
}

.body {
  margin-top: 30px;
  font-weight: 450;
  line-height: 137%;
  padding: 0px !important;
}

// MEDIA QUERIES
@media (min-width: 768px) {
  .project-details {
    .project-title-container {
      display: block;
    }
  }

  .non-accordion {
    display: block;
  }

  .project-accordion {
    display: none;
  }
}
@media (min-width: 1280px) {
  .project-container {
    width: auto;
    &.full-width {
      grid-column: 1/3;

      .non-accordion {
        columns: 2;
        column-gap: 2%;
      }
    }
  }

  .project-details {
    margin: 34px 0 23px 0;
    font-size: 24px;
    span {
      font-size: 24px;
    }
    .body {
      font-size: 16px;
    }

    .project-title-container {
      span {
        font-size: 24px;
      }
    }
  }
}
