/* You can add global styles to this file, and also import other style files */

/*************** COLORS ***************/

:root {
  --white: #ffffff;
  --black: #191919;
  --gray: #999999;
  --pinkHover: #fc82a3;
  --hrColor: #d3d3d3;
}
