.carousel:hover {
  cursor: pointer;
}

.carouselTitle {
  margin-left: 15px;
}

.carouselPagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel .pagination {
  margin-left: 15px;
}

.swiper-pagination-bullet {
  background-color: var(--pinkHover);
  width: 8px;
  height: 8px;
  opacity: 1;
  cursor: pointer;
  border-radius: 100%;
}

.swiper-pagination-bullet-active {
  background-color: var(--black);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 15px 20px 25px 0px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  margin: 50px 0 0 0;
  padding-right: 10px;
}

.properties {
  color: var(--gray);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 40px;
}

// MEDIA QUERIES
@media (min-width: 768px) {
  .carouselTitle {
    margin-left: 5%;
  }

  .carousel .pagination {
    margin-left: 5%;
  }
}

@media (min-width: 1280px) {
  .carouselTitle {
    margin-left: 7%;
  }

  .carousel .pagination {
    margin-left: 7%;
  }
}

@media (min-width: 1920px) {
  .carouselTitle {
    margin-left: 16%;
  }

  .carousel .pagination {
    margin-left: 16%;
  }
}
