@import "./src/styles.scss";

// MOBILE FIRST
.chazz-header {
  background-image: url("video.png");
  background-repeat: no-repeat;
  background-position: -330px -100px;
  height: 100vh;

  .velo {
    background: #ca8b9b94;
    z-index: 2;
    height: 100vh;
  }

  
}

.chazz-title {
  color: var(--white);
  width: 250px;
  position: absolute;
  z-index: 9;
  top: 208px;
  left: 14px;
  font-size: 23px;
  line-height: 1.2;

  h1 {
    margin-bottom: 0;
    font-size: 48px;
  }

  h4 {
    margin-top: 12px;
    width: 245px;
  }
}

.chazz-cookies {
  // TO DO DISPLAY
  display: none;
  background-color: var(--white);
  height: 33%;
  z-index: 10;
  position: absolute;
  width: 90%;
  left: 5%;
  bottom: 3%;
  padding: 16px;

  p {
    margin: 0;
  }

  button {
    padding: 3% 29% 3% 29%;
    margin-top: 13px;
    color: #ffafc4;
    font-weight: 700;
    font-size: 19px;
    background-color: var(--black);

    &:hover {
      cursor: pointer;
    }
  }
}

// MEDIA QUERIES

// xxs
@media (width: 320px) {
  .chazz-cookies {
    display: none;
    left: 4%;

    button {
      padding: 1% 25% 1% 25%;
      margin-top: 22px;
    }
  }
}

@media (min-width: 425px) {
  .chazz-cookies {
    display: none;

    button {
      padding: 3% 31% 3% 31%;
      margin-top: 23px;
    }
  }
}

//////////////////////

@media (min-width: 480px) {
}

@media (min-width: 768px) {

    .chazz-header{
        background-position: 30% -100px;
    }

  .chazz-title {
    width: 45%;
    left: 3%;
    top: 35%;

    h1 {
      font-size: 4rem;
    }

    h4 {
      width: max-content;
      font-size: 22px;
    }
  }

  .chazz-cookies {
    display: none;
    // display: flex;   TO-DO
    align-items: center;
    height: 64px;
    padding: 5px;
    width: 95%;
    bottom: 2%;
    left: 15px;

    p {
      margin-top: 0;
      width: 80%;
      position: relative;
      left: 15px;
    }

    button {
      padding: 1% 2% 1% 2%;
      font-size: 16px;
      margin-top: 0;
    }
  }




@media (min-width: 1280px) {
  .chazz-header {
    background-size: 1280px;
    height: 100vh;
    background-position: 0 0%;

  }

  .chazz-title {
    width: 500px;
    top: 40%;
    left: 43px;

    h1 {
      font-size: 4.4rem;
      position: relative;
      top: -2rem;
    }

    h4 {
      margin-top: -22px;
        font-size: 23px;
    }
  }

  .chazz-cookies {
    width: 97%;
    p {
      width: 86%;
    }
    button {
      padding: 5px 20px 5px 20px;
    }
  }
}

@media (min-width: 1440px) {
  .chazz-header {
    background-size: cover;
    background-position: 0 0;
  }

  .chazz-title {
    top: 40%;
  }
}

@media (min-width: 1920px) {
  .chazz-header {
    background-size: cover;
    background-position: 0 -95px;
  }

  .chazz-title {
    top: 50%;
    left: 3%;
  }

  .chazz-cookies {
    width: 98%;
    bottom: 2%;
    p {
      width: 92%;
    }
    button {
      padding: 0.5% 1% 0.5% 1%;
    }
  }
}
}