// MOBILE FIRST
.chazz-header {
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  height: var(--app-height);

  .velo-in,
  .velo-out {
    background-color: #ca8b9b94;
    z-index: 0;
    height: 100vh;
    transition: opacity 1s ease-in-out;
    opacity: 1;
    margin: auto;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 1s ease-in-out;
  }

  .velo-out {
    background-color: #ca8b9b00;
  }

  .nav-out {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  .nav-in {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
}

.chazz-title {
  color: var(--white);
  width: 80%;
  padding-left: 5%;
  position: absolute;
  bottom: 30%;
  font-size: 23px;
  line-height: 1.2;
  transition: opacity 1s ease-in-out;
  opacity: 1;

  h1 {
    margin-bottom: 28px;
    font-size: 48px;
    line-height: 51.36px;
  }

  h4 {
    margin-top: 16px;
    width: 245px;
    font-size: 24px;
  }
}

.simply-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.simply-in {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.chazz-title-out {
  color: var(--white);
  width: 80%;
  padding-left: 5%;
  position: absolute;
  bottom: 30%;
  font-size: 23px;
  line-height: 1.2;

  h1 {
    margin-bottom: 28px;
    font-size: 48px;
    line-height: 51.36px;
  }

  h4 {
    margin-top: 16px;
    width: 245px;
    font-size: 24px;
  }
}

.grayscale {
  height: 100vh;
  width: -webkit-fill-available;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -1;
  filter: grayscale(100%);
  min-width: 100%;
  min-height: 100%;
}

// Player video switchers

.player-video-desktop-switcher {
  display: none;
}

.player-video-mobile-switcher {
  display: block !important;
  width: 50%;
  position: relative;
  top: 30px;
}

// Player video

.player-video {
  position: absolute;
  align-items: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  cursor: none;

  // Play
  .play-icon-in,
  .play-icon-out {
    position: absolute;
    top: 6px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid var(--white);
    margin-right: 13px;
    transition: all 1s;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.2));
  }

  .play-icon-in {
    transform: rotate(-60deg);
    opacity: 0;
  }

  .play-icon-out {
    transform: rotate(0deg);
    opacity: 1;
  }

  // Stop
  .stop-icon-in {
    position: absolute;
    top: 8px;
    width: 12px;
    height: 12px;
    background-color: var(--white);
    margin-right: 13px;
    transform: rotate(0deg);
    transition: all 1s;
    opacity: 1;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.2));
  }

  .stop-icon-out {
    position: absolute;
    top: 4px;
    width: 6px;
    height: 6px;
    transform: rotate(-60deg);
    transition: all 1s;
    opacity: 0;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.2));
  }

  // Text
  .player-text {
    color: var(--white);
    font-size: 19px;
    font-weight: 450;
    margin-left: 20px;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 1;
  }
}

// MEDIA QUERIES

@media (width: 320px) {
  .chazz-title {
    width: 100%;
  }

  .chazz-title-out {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .chazz-header {
    background-position: 30% -100px;
    width: 100%;
  }
  .chazz-title,
  .chazz-title-out {
    width: 65%;
    top: auto;
    bottom: 200px;

    h1 {
      font-size: 48px;
      margin-top: -70px;
    }

    h4 {
      width: max-content;
      font-size: 22px;
      margin-top: 0;
    }
  }
}

@media (min-width: 1024px) {
  .player-video .play-icon-in,
  .player-video .play-icon-out {
    top: 2px;
  }

  .player-video .stop-icon-in {
    top: 4px;
  }

  .player-video-desktop-switcher {
    display: flex;
  }

  .player-video-mobile-switcher {
    display: none !important;
  }

  .chazz-header {
    max-height: 575px;
    width: 100%;
  }

  .chazz-title,
  .chazz-title-out {
    width: 60%;
    bottom: 49%;
  }
}

@media (min-width: 1200px) {
  .chazz-header {
    background-size: 12px;
    max-height: 1024px;
    background-position: 0 0%;
  }

  .chazz-title,
  .chazz-title-out {
    top: auto;
    bottom: 100px;
    width: 65%;
    h1 {
      line-height: 96.3px;
      font-size: 76px;
      position: relative;
      top: -2rem;
      width: 105%;
    }

    h4 {
      margin-top: -40px;
      font-size: 29px;
    }
  }
}
@media (min-width: 1280px) {
  .chazz-header {
    background-size: 1280px;
    max-height: 1024px;
    background-position: 0 0%;
  }

  .chazz-title,
  .chazz-title-out {
    top: auto;
    bottom: 100px;
    h1 {
      line-height: 96.3px;
      font-size: 76px;
      position: relative;
      top: -2rem;
      width: 105%;
    }

    h4 {
      margin-top: -40px;
      font-size: 29px;
    }
  }
}

@media (min-width: 1440px) {
  .chazz-header {
    background-size: cover;
    background-position: 0 0;
  }

  .chazz-title,
  .chazz-title-out {
    width: 65%;
    bottom: 170px;

    h1 {
      font-size: 90px;
    }

    h4 {
      font-size: 29px;
    }
  }
}

@media (min-width: 1920px) {
  .chazz-header {
    background-size: cover;
    background-position: 0 -95px;
    max-height: 1115px;
  }

  .chazz-title h1 {
    font-size: 90px;
  }
  .chazz-title h4,
  .chazz-title-out h4 {
    font-size: 33px;
    margin-top: -33px;
  }
  .chazz-title,
  .chazz-title-out {
    bottom: 220px;
    top: auto;
  }
}

@media (min-width: 2560px) {
  .chazz-header {
    max-height: 1430px;
  }
}
