@import "./src/styles.scss";

// MOBILE FIRST
.chazz-header {
  // display: flex;
  // flex-direction: row;
  // align-content: space-between;
  //
  background-image: url("video.png");
  background-repeat: no-repeat;
  background-position: -330px -100px;
  height: 100vh;

  .velo {
    background: #ca8b9b94;
    z-index: 2;
    height: 100vh;
  }

  .chazz-logo {
    width: 137px;
    display: block;
    float: left;
    position: relative;
    left: 4%;
    top: 30px;
    
  }

  .nav {
    display: none;

    a:hover{
        color: var(--black);
    }
  }



  .burger-menu{
    width: 100%;
    padding: 36px 16px 16px 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    transition: all .5s ease;
    position: fixed;
    z-index: 10;
    &.active{
        background-color: var(--black);
    }

    input#open-close { 
        visibility:hidden;
        position: absolute;
        top: -9999px;
    }
    
    .toggle-button {
        display:block;
        width:26px;
        height:26px;
        position:relative;
        cursor: pointer;
        box-sizing: border-box;
    }

    .toggle-button:before, .toggle-button:after {
        position:absolute;
        display:block;
        content:" ";
        width: 100%;               
        box-sizing: border-box;
        // left: calc(100% / 4);
        transition: all 0.2s ease-out;
    }

    .toggle-button:before {
        top: calc(100% / 3);
        border-radius: 100px;
        background-color:var(--white);
        border-top:2px solid var(--white);
        background-color: transparent;
    }

    .toggle-button:after {
        border-radius: 100px;
        background-color:var(--white);
        border-top:2px solid var(--white);
        bottom:calc(100% / 4);
        width: 65%;
        right: 0;
    }

    input#open-close:checked + .toggle-button:before, input#open-close:checked + .toggle-button:after {
        top:calc(100% / 2);
        height:1px;
        border-bottom:0;
    }

    input#open-close:checked + .toggle-button:before {
        transform: rotate(45deg);
        width: 100%; 
    }

    input#open-close:checked + .toggle-button:after {
        transform: rotate(-45deg);
        width: 100%;
    }

    .burger-nav{
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        height: 0vh;
        opacity: 0;
        overflow: hidden;
        transition: all .5s ease;
        &.active{
            height: 100vh;
            opacity: 1;
        }
    }
    .burger-ul{
        list-style: none;
        flex-direction: column;
        padding-left: 0;
    }

    .burger-a{
        text-decoration: none;
        color: #FFAFC4;
        font-weight: 500;
        font-size: 48px;
        line-height: 55.2px;

        &:hover{
            color: var(--white);
        }
    }
  }
}

.chazz-title {
  color: var(--white);
  width: 250px;
  position: absolute;
  z-index: 9;
  top: 208px;
  left: 14px;
  font-size: 23px;
  line-height: 1.2;

  h1 {
    margin-bottom: 0;
    font-size: 48px;
  }

  h4 {
    margin-top: 12px;
    width: 245px;
  }
}

.chazz-cookies {
    // TO DO DISPLAY
    display: none; 
    background-color: var(--white);
    height: 33%;
    z-index: 10;
    position: fixed;
    width: 90%; 
    left: 5%; 
    bottom: 3%;
    padding: 16px;

  p {
    margin: 0;
    // margin-top: 12px;
  }

    button {
        padding: 3% 29% 3% 29%;
        margin-top: 13px;
        color: #FFAFC4;
        font-weight: 700;
        font-size: 19px;
        background-color: var(--black);

        &:hover {
            cursor: pointer;
        }
    }
}

// MEDIA QUERIES

// xxs
@media (width: 320px) {
    .chazz-cookies {
        display: none;
        left: 4%;
        // height: 25%;
        
        button {
            padding: 1% 25% 1% 25%;
            margin-top: 22px;
            
        }
    }
}

@media (min-width: 425px) {
    .chazz-cookies {
        display: none;
        // top: -14rem;
        button {
            padding: 3% 31% 3% 31%;
            margin-top: 23px;
        }
    }
}

//////////////////////

@media (min-width: 480px) {
}

@media (min-width: 768px) {

    .chazz-header{
        .chazz-logo {
            width: 18%;
            left: 3%;
            top: 30px;
        }

        background-position: 30% -100px;
        .nav {
            font-size: 1rem;
            margin-top: 3.5%;
            display: flex;
            float: right;
            padding-left: 0;
            margin-right: 1%;
        }
        .nav ul {
            display: flex;
        }

        .nav ul li {
            list-style-type: none;
            margin-right: 30px;
        }

        .nav ul li a {
            text-decoration: none;
            color: var(--white);
            font-weight: 500;
        
            &:hover {
                text-decoration: none;
                color: var(--black);
            }
        }


        .burger-menu{
            display: none;
        }
    }

    .chazz-title {
        width: 45%;
        left: 3%;
        top: 35%;

        h1 {
            font-size: 4rem;
        }

        h4 {
            width: max-content;
            font-size: 22px;
        }
    }
    
    .chazz-cookies {
        display: none;
        // display: flex;   TO-DO
        align-items: center;
        height: 64px;
        padding: 5px;
        width: 95%;
        bottom: 2%;
        left: 15px;

        p {
            margin-top: 0;
            width: 80%;
            position: relative;
            left: 15px;
        }

        button {
            padding: 1% 2% 1% 2%;
            font-size: 16px;
            margin-top: 0;
        }

    }
        
}


@media (min-width: 1024px) {
    .chazz-header {
        .nav {
            margin-top: 2.5%;
            font-size: 19px;
        }
    }
}

@media (min-width: 1280px) {
    .chazz-header {
        background-size: 1280px;
        height: 100vh;
        background-position: 0 0%;

        // .nav {
        //     // margin-left: 0;
        // }

        .chazz-logo {
            width: 15%;
            top: 40px;
        }

        .nav ul li {
            margin-right: 36px;
        }
    
    }

    .chazz-title {
        width: 500px;
        top: 40%;
        left: 43px;

        h1 {
            font-size: 6rem;
            position: relative;
            top: -2rem;
        }

        h4 {
            margin-top: 4px;
            font-size: 32px;
        }
    }

    .chazz-cookies {
        width: 97%;
        p {
            width: 86%;
        }
        button {
            padding: 5px 20px 5px 20px;
        }
    }

  }


@media (min-width: 1440px) {
    .chazz-header {
        background-size: cover;
        background-position: 0 0;
    }

    .chazz-title {
        top: 40%;
        // left: 85px;
    }
}

@media (min-width: 1920px) {
    .chazz-header {
        background-size: cover;
        background-position: 0 -95px;
    }

    .chazz-title {
        top: 50%;
        left: 3%;
    }

    .chazz-cookies {
        width: 98%;
        bottom: 2%;
        p {
            width: 92%;
        }
        button {
            padding: 0.5% 1% 0.5% 1%;
        }
    }
}
