@import "./src/styles.scss";

// MOBILE FIRST
.chazz-header {
  // background-image: url("/assets/video.png");
  background-repeat: no-repeat;
  background-position: -330px -100px;
  height: 100vh;
  overflow: hidden;
  position: relative;

  .velo-in {
    background: #ca8b9b94;
    z-index: 2;
    height: 100vh;
    transition: opacity 1s ease-in-out;
    opacity: 1;
  }

  .velo-out {
    opacity: 0;
    background: #ca8b9b94;
    transition: opacity 1s ease-in-out;
    z-index: 2;
    height: 100vh;
  }

  .nav-in {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
  .nav-out {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
}

.chazz-title {
  color: var(--white);
  width: 65%;
  position: absolute;
  top: 47%;
  left: 5%;
  font-size: 23px;
  line-height: 1.2;
  transition: opacity 1s ease-in-out;
  opacity: 1;

  h1 {
    margin-bottom: 0;
    font-size: 48px;
  }

  h4 {
    margin-top: 12px;
    width: 245px;
    font-size: 24px;
  }
}

.chazz-title-out {
  color: var(--white);
  width: 265px;
  position: absolute;
  z-index: 9;
  top: 47%;
  left: 5%;
  font-size: 23px;
  line-height: 1.2;
  opacity: 0;
  transition: opacity 1s ease-in-out;

  h1 {
    margin-bottom: 0;
    font-size: 48px;
  }

  h4 {
    margin-top: 12px;
    width: 245px;
    font-size: 24px;
  }
}

.chazz-cookies {
  // TODO: display
  display: none;
  background-color: var(--white);
  height: 33%;
  z-index: 10;
  position: absolute;
  width: 90%;
  left: 5%;
  bottom: 3%;
  padding: 16px;

  p {
    margin: 0;
  }

  button {
    padding: 3% 29% 3% 29%;
    margin-top: 13px;
    color: #ffafc4;
    font-weight: 700;
    font-size: 19px;
    background-color: var(--black);

    &:hover {
      cursor: pointer;
    }
  }
}

// MEDIA QUERIES

@media (min-width: 768px) {
  .chazz-header {
    background-position: 30% -100px;
  }

  .chazz-title,
  .chazz-title-out {
    width: 60%;
    top: 55%;

    h1 {
      font-size: 4rem;
    }

    h4 {
      width: max-content;
      font-size: 22px;
    }
  }

  @media (min-width: 1280px) {
    .chazz-header {
      background-size: 1280px;
      height: 100vh;
      background-position: 0 0%;
    }

    .chazz-title,
    .chazz-title-out {
      top: 60%;
      left: 3%;

      h1 {
        font-size: 76px;
        position: relative;
        top: -2rem;
      }

      h4 {
        margin-top: -22px;
        font-size: 29px;
      }
    }
  }

  @media (min-width: 1440px) {
    .chazz-header {
      background-size: cover;
      background-position: 0 0;
    }

    .chazz-title,
    .chazz-title-out {
      width: 55;
      top: 60%;
      h1 {
        font-size: 90px;
      }

      h4 {
        font-size: 29px;
      }
    }
  }

  @media (min-width: 1920px) {
    .chazz-header {
      background-size: cover;
      background-position: 0 -95px;
    }

    .chazz-title,
    .chazz-title-out {
      top: 50%;
    }
  }
}
