@import "./src/styles.scss";

// MOBILE FIRST
.chazz-header {
  background-image: url("/assets/video.png");
  background-repeat: no-repeat;
  background-position: -330px -100px;
  height: 100vh;

  .velo {
    background: #ca8b9b94;
    z-index: 2;
    height: 100vh;
  }
}

.chazz-title {
  color: var(--white);
  width: 265px;
  position: absolute;
  z-index: 9;
  top: 47%;
  left: 5%;
  font-size: 23px;
  line-height: 1.2;

  h1 {
    margin-bottom: 0;
    font-size: 48px;
  }

  h4 {
    margin-top: 12px;
    width: 245px;
  }
}

// MEDIA QUERIES

@media (min-width: 768px) {
  .chazz-header {
    background-position: 30% -100px;
  }

  .chazz-title {
    width: 60%;
    left: 3%;
    top: 55%;

    h1 {
      font-size: 4rem;
    }

    h4 {
      width: max-content;
      font-size: 22px;
    }
  }

  @media (min-width: 1280px) {
    .chazz-header {
      background-size: 1280px;
      height: 100vh;
      background-position: 0 0%;
    }

    .chazz-title {
      width: 55%;
      top: 60%;
      left: 5%;

      h1 {
        font-size: 76px;
        position: relative;
        top: -2rem;
      }

      h4 {
        margin-top: -22px;
        font-size: 29px;
      }
    }
  }

  @media (min-width: 1440px) {
    .chazz-header {
      background-size: cover;
      background-position: 0 0;
    }

    .chazz-title {
      top: 60%;
      h1 {
        font-size: 80px;
      }

      h4 {
        font-size: 29px;
      }
    }
  }

  @media (min-width: 1920px) {
    .chazz-header {
      background-size: cover;
      background-position: 0 -95px;
    }

    .chazz-title {
      top: 50%;
      left: 3%;
    }
  }
}
