.work-container {
  max-width: 100%;
}

.header-nav {
  display: block;
  height: 10vh;
  position: relative;
  z-index: 1;
  padding-right: 5%;
}

.work-container {
  margin: 0 5%;
}

.work-header {
  margin-top: 6%;
  border-top: 1px solid var(--black);
  h1 {
    margin: 25px 0 20px 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 43px;
  }
}

.work-container--content {
  width: auto;
  margin-top: 0;
  display: grid;

  .work-detail {
    margin-bottom: 7vh;
    width: 90vw;
    font-weight: 500;
    line-height: 131.3%;

    h1 {
      font-size: 24px;
    }
  }
}
.case-container {
  margin: 6% 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.case-container-title h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  margin: 17px 5%;
  color: var(--black);
}
.case-info span {
  font-weight: 450;
  font-size: 12px;
  line-height: 17px;
  color: var(--gray);
}
.case-info h1 {
  font-weight: 450;
  font-size: 16px;
  line-height: 23px;
  color: var(--black);
}
.subtitle-section {
  padding: 10px;
}
.case-container-info {
  margin: 0 5%;
}
.fw-image {
  width: 100%;
}
.fw-image img {
  width: 100%;
}
.fw-image span {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: var(--white);
}
.fw-image-text {
  width: 100%;
}
.fw-image-text img {
  z-index: 0;
  width: 100%;
}
.fw-image-text span {
  padding-left: 17px;
  margin-top: 152px;
  z-index: 1;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: var(--white);
}
.img-text-container {
  position: relative;
  margin-left: 15px;
  margin-top: -94px;
}
.fw-claim {
  margin: 15% 0;
  padding: 0 5%;
  font-weight: 450;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: var(--black);
}
.section-flex-container {
  display: flex;
  flex-direction: column;
}
.section-left-column {
  padding-top: 65px;
  font-weight: 450;
  font-size: 24px;
  line-height: 33px;
  color: var(--black);
}
.section-rigth-column h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--black);
  padding-bottom: 6px;
}

.section-rigth-column {
  padding-top: 63px;
  font-weight: 450;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 46px;
  color: var(--black);
}

.image-footer-text {
  font-weight: 450;
  padding: 16px 0;
  font-size: 16px;
  line-height: 22px;
  color: var(--black);
}
.separation {
  padding-top: 32px;
}
.fw-claim-final {
  padding: 38px 0;
  margin: 0 5%;
  max-width: 100%;
  font-weight: 450;
  font-size: 16px;
  line-height: 22px;
  color: var(--black);
}
// MEDIA QUERIES
@media (min-width: 1280px) {
  .work-header {
    margin-bottom: 0;
    font-size: 72px;
  }
  .work-container--content {
    margin: 0 5% 10% 5%;
    grid-template-columns: 49% 49%;
    grid-gap: 0% 2%;

    .work-detail {
      width: 100%;

      h1 {
        font-size: 40px;
      }
    }
  }
}

@media (min-width: 1440px) {
  .work-container--content {
    .work-detail {
      width: 85%;
    }
  }
}
