.work-container {
  max-width: 100%;
}

.header-nav {
  display: block;
  height: 10vh;
  position: relative;
  z-index: 1;
  padding-right: 5%;
}

.work-container {
  margin: 0 5%;
}

.work-header {
  margin-top: 6%;
  border-top: 1px solid var(--black);
  h1 {
    margin: 25px 0 20px 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 43px;
  }
}

.work-container--content {
  width: auto;
  margin-top: 0;
  display: grid;

  .work-detail {
    margin-bottom: 7vh;
    width: 90vw;
    font-weight: 500;
    line-height: 131.3%;

    h1 {
      font-size: 24px;
    }
  }
}

//CSS -> CONTENEDOR TITULO:
.case-container {
  padding: 17px 5%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.case-container-title h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: var(--black);
}
.case-info h1 {
  font-weight: 450;
  font-size: 16px;
  line-height: 23px;
  color: var(--black);
}
.case-info span {
  font-weight: 450;
  font-size: 12px;
  line-height: 17px;
  color: var(--gray);
}

//CSS -> CLAIM SECTION:
.fw-claim {
  padding: 15% 5%;
  font-weight: 450;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: var(--black);
}

//CSS -> FULL WIDTH IMAGE:
.fw-image {
  width: 100%;
}
.fw-image img {
  width: 100%;
}
.fw-image span {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: var(--white);
}

.fw-image-text {
  width: 100%;
}
.fw-image-text img {
  width: 100%;
}
.img-text-container {
  width: 100%;
  position: relative;
  height: auto;
  padding: 0 5%;
  color: var(--white);
  margin: -88px 0 44px 0;
}
.fw-image-text span {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
}
//CSS -> SECTION FLEX CONTAINER:
.section-flex-container {
  display: flex;
  flex-direction: column;
  padding: 64px 0;
}
.section-left-column {
  font-weight: 450;
  font-size: 24px;
  line-height: 33px;
  color: var(--black);
  padding-bottom: 80px;
}
.section-right-column h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--black);
}

.section-rigth-column {
  font-weight: 450;
  font-size: 16px;
  line-height: 22px;
  color: var(--black);
}
//______________________________________________________
.image-footer-text {
  font-weight: 450;
  padding: 20px 0 40px 0;
  font-size: 16px;
  line-height: 22px;
  color: var(--black);
}
.separation {
  padding-top: 32px;
}
.separation2 {
  padding-top: 64px;
}
.fw-claim-final {
  padding: 38px 0;
  margin: 0 5%;
  max-width: 100%;
  font-weight: 450;
  font-size: 16px;
  line-height: 22px;
  color: var(--black);
}
.back-button {
  background: none;
  color: inherit;
  border: none;
  font-size: 16px;
  font-weight: 400;
  &:hover {
    color: var(--pinkHover);
  }
}
// MEDIA QUERIES
@media (min-width: 1280px) {
  .work-header {
    margin-bottom: 0;
    font-size: 72px;
  }
  .work-container--content {
    margin: 0 0 10% 0;
    grid-template-columns: 49% 49%;
    grid-gap: 0% 2%;

    .work-detail {
      width: 100%;

      h1 {
        font-size: 40px;
      }
    }
  }
}
@media (min-width: 769px) {
  //CSS -> CONTENEDOR TITULO:
  .case-container {
    padding: 107px 5%;
    width: 100%;
    height: 100%;
    flex-direction: row;
  }
  .case-container-title {
    width: 70%;
  }
  .case-container-title h1 {
    font-weight: 500;
    font-size: 72px;
    line-height: 86px;
  }
  .case-info span {
    font-weight: 450;
    font-size: 16px;
    line-height: 19px;
  }
  .case-info h1 {
    width: 100%;
    font-weight: 450;
    font-size: 12px;
    line-height: 17px;
  }
  .subtitle-section {
    padding: 10px;
  }
  .case-container-info {
    width: 30%;
    padding: 0 5%;
  }
  //CSS -> CLAIM SECTION:
  .fw-claim {
    font-weight: 450;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
  }

  //CSS -> SECTION FLEX CONTAINER:
  .section-flex-container {
    flex-direction: row;
    padding: 112px 0;
  }
  .section-left-column {
    width: 50%;
    padding-right: 5%;
    font-weight: 450;
    font-size: 32px;
    line-height: 44px;
  }
  .section-right-column {
    width: 50%;
    padding-left: 5%;
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
  }
  .section-right-column h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }
  .section-left-column-empty {
    width: 50%;
  }
  .fw-image-text span {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
  }
  .img-text-container {
    padding: 0 5%;
    margin: -220px 0 160px 0;
  }
  .image-footer-text {
    padding: 20px 0 40px 0;
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
  }
  .fw-claim-final {
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
  }

  .separation {
    padding-top: 98px;
  }
  .separation2 {
    padding-top: 142px;
  }
}

@media (min-width: 1440px) {
  .work-container--content {
    .work-detail {
      width: 85%;
    }
  }
}
