.case-container {
  display: grid;
}

.caseinfo-section {
  color: #999999;
}

// MEDIA QUERIES
@media (min-width: 1280px) {
  .work-header {
    margin-bottom: 0;
    font-size: 72px;
  }
  .work-container--content {
    margin: 0 5% 10% 5%;
    grid-template-columns: 49% 49%;
    grid-gap: 0% 2%;

    .work-detail {
      width: 100%;

      h1 {
        font-size: 40px;
      }
    }
  }
}

@media (min-width: 1440px) {
  .work-container--content {
    .work-detail {
      width: 85%;
    }
  }
}
