@import "./src/styles.scss";

@import "./src/styles.scss";

// MOBILE FIRST

  .nav {
    display: none;
  }



  .burger-menu{
    width: 100%;
    padding: 36px 16px 16px 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    transition: all .5s ease;
    position: fixed;
    z-index: 10;
    &.active{
        background-color: var(--black);
    }

    .burger-button{
        background: none;
        border: none;
        cursor: pointer;
    }

    .burger-svg{
        fill: var(--white);
        width: 26px;
        height: 26px;
    }

    .burger-nav{
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        height: 0vh;
        opacity: 0;
        overflow: hidden;
        transition: all .5s ease;
        &.active{
            height: 100vh;
            opacity: 1;
        }
    }
    .burger-ul{
        list-style: none;
        flex-direction: column;
        padding-left: 0;
    }

    .burger-a{
        text-decoration: none;
        color: #FFAFC4;
        font-weight: 500;
        font-size: 48px;
        line-height: 55.2px;

        &:hover{
            color: var(--white);
        }
    }
  }


// MEDIA QUERIES

@media (min-width: 768px) {

        .nav {
            margin-top: 1.5%;
            display: flex;
            float: right;
            padding-left: 0;
        }
        .nav ul {
            display: flex;
        }

        .nav ul li {
            list-style-type: none;
            margin-right: 30px;
        }

        .nav ul li a {
            text-decoration: none;
            color: var(--white);
        
            &:hover {
                text-decoration: none;
            }
        }


        .burger-menu{
            display: none;
        }
    }

    

@media (min-width: 1280px) {


        .nav ul li {
            margin-right: 36px;
        }
}
